<% flat = data.flats[owner] %>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('../images/brussels.jpg'); height: 50vh; background-size: cover;">
</div>
<div class="header-flat">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-1">
        <div class="header-flat-details">
          <div class="header-flat-owner  text-center">
            <%= image_tag flat.owner_picture, class: "img-circle", width: "70px"%>
            <p><%= flat.owner_name %></p>
          </div>
          <div class="header-flat-name">
            <h1><%= flat.summary %></h1>
            <p><%= flat.city %></p>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #cacccd"></i>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <form action="#" >
          <h4>Book this flat</h3>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="checkin" id="checkin">
              </div>
              <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="checkout">
              </div>
            </div>
          </div>
          <div class="form-group">
            <select name="" id="guests" class="form-control">
              <option value="1">1 guest</option>
              <option value="2">2 guests</option>
              <option value="3">3 guests</option>
            </select>
          </div>
          <input type="submit" class="btn btn-danger" value="Book it" style="width: 100%">
        </form>
      </div>
    </div>
  </div>
</div>

<div id="flat-description">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h2>About this flat</h2>
        <p>
          <%= flat.about %>
        </p>

        <hr>
        <div class="row" id="flat-data">
          <div class="col-xs-12 col-sm-2">
            The Space
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li>Accommodates:  <strong><%= flat.accommodates %></strong></li>
              <li>Bathrooms:  <strong><%= flat.bathrooms %></strong></li>
              <li>Bed type:  <strong><%= flat.bedtype %></strong></li>
              <li>Bedrooms:  <strong><%= flat.bedrooms %></strong></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li>Beds: <strong><%= flat.beds %></strong></li>
              <li>Property type: <strong><%= flat.propertytype %></strong></li>
              <li>Room type: <strong><%= flat.roomtype %></strong></li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row" id="flat-data">
          <div class="col-xs-12 col-sm-2">
            Amenities
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li><i class="icon-Chef-Hat2"></i><strong>Kitchen</strong></li>
              <li><i class="icon-Router-2"></i><strong>Wifi</strong></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li><i class="icon-TV"></i><strong>TV</strong></li>
              <li><i class="icon-Wine-Glass"></i><strong>Welcome drink</strong></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
